<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">
			<footer>
				<section class="full-dark">
						<div class="col-md-1">
							<div class="text-box-1">
								<h5>About Us</h5>
								<p></p>
								<ul>
									<li>Kashyap Prajapati</li>
									<li>Full Stack Developer</li>
								</ul>
							</div>
						</div>
						<div class="col-md-1">
							<div class="text-box-1">
								<h5>Experience In</h5>
								<p></p>
								<ul>
									<li>Spring MVC</li>
									<li>Spring Security</li>
									<li>Spring JDBC</li>
								</ul>
							</div>
						</div>
						<div class="col-md-1">
							<div class="text-box-1">
								<h5>Contact Us</h5>
								<p></p>
								<ul>
									<li>9033249381</li>
									<li>prajapatikashyap1997@gmail.com</li>
								</ul>
							</div>
						</div>
				</section>
			</footer>


		</div>

</body>
</html>